In [1]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
color = sns.color_palette()
sns.set()
from IPython.display import display

import random
import os
# print(os.listdir("../input"))

In [8]:
'''
For this notebook, im just keeping this here for reference, and I will copy and paste each one when I need it later on,
you'll see,

The point of this notebook is to understand this one guys feature engineering:
https://www.kaggle.com/ogrellier/good-fun-with-ligthgbm/code

#Uncomment this for kaggle
POS_CASH_balance = ('../input/POS_CASH_balance.csv')
test = pd.read_csv('../input/application_test.csv')
train = pd.read_csv('../input/application_train.csv')
bureau = pd.read_csv('../input/bureau.csv')
bureau_balance = pd.read_csv('../input/bureau_balance.csv')
credit_card_balance = pd.read_csv('../input/credit_card_balance.csv')
installments_payments = pd.read_csv('../input/installments_payments.csv')
previous_application = pd.read_csv('../input/previous_application.csv')
sample_submission = pd.read_csv('../input/sample_submission.csv')

'''
'''
#Uncomment this for local
POS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')
test = pd.read_csv('data/application_test.csv')
train = pd.read_csv('data/application_train.csv')
bureau = pd.read_csv('data/bureau.csv')
bureau_balance = pd.read_csv('data/bureau_balance.csv')
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
installments_payments = pd.read_csv('data/installments_payments.csv')
previous_application = pd.read_csv('data/previous_application.csv')
sample_submission = pd.read_csv('data/sample_submission.csv')'''

"\n#Uncomment this for local\nPOS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')\ntest = pd.read_csv('data/application_test.csv')\ntrain = pd.read_csv('data/application_train.csv')\nbureau = pd.read_csv('data/bureau.csv')\nbureau_balance = pd.read_csv('data/bureau_balance.csv')\ncredit_card_balance = pd.read_csv('data/credit_card_balance.csv')\ninstallments_payments = pd.read_csv('data/installments_payments.csv')\nprevious_application = pd.read_csv('data/previous_application.csv')\nsample_submission = pd.read_csv('data/sample_submission.csv')"

In [12]:
bureau_balance = pd.read_csv('data/bureau_balance.csv')

In [13]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [14]:
print('transform to dummies')
bureau_balance_tf = pd.concat([bureau_balance, pd.get_dummies(bureau_balance.STATUS, prefix='bureau_balance_status')], axis=1).drop('STATUS', axis=1)
bureau_balance_tf.head()

transform to dummies

,SK_ID_BUREAU,MONTHS_BALANCE,bureau_balance_status_0,bureau_balance_status_1,bureau_balance_status_2,bureau_balance_status_3,bureau_balance_status_4,bureau_balance_status_5,bureau_balance_status_C,bureau_balance_status_X
0,5715448,0,0,0,0,0,0,0,1,0
1,5715448,-1,0,0,0,0,0,0,1,0
2,5715448,-2,0,0,0,0,0,0,1,0
3,5715448,-3,0,0,0,0,0,0,1,0
4,5715448,-4,0,0,0,0,0,0,1,0

In [17]:
pd.get_dummies(bureau_balance, prefix = 'bureau_balance_status').head() #ok so doing this is the same thing just a little easier,

,SK_ID_BUREAU,MONTHS_BALANCE,bureau_balance_status_0,bureau_balance_status_1,bureau_balance_status_2,bureau_balance_status_3,bureau_balance_status_4,bureau_balance_status_5,bureau_balance_status_C,bureau_balance_status_X
0,5715448,0,0,0,0,0,0,0,1,0
1,5715448,-1,0,0,0,0,0,0,1,0
2,5715448,-2,0,0,0,0,0,0,1,0
3,5715448,-3,0,0,0,0,0,0,1,0
4,5715448,-4,0,0,0,0,0,0,1,0

In [ ]:
print('Counting bureaus')
bureau_counts = bureau_balance_tf[['SK_ID_BUREAU', 'MONTHS_BALANCE']].groupby('SK_ID_BUREAU').count()
bureau_balance_tf['buro_count'] = buro_bal['SK_ID_BUREAU'].map(buro_counts['MONTHS_BALANCE'])